<p id="notice"><%= notice %></p>

<div class="hero-unit">
  <% if @friend %>
    <h2> <%= @friend.name %> </h2>
  <% else %>
  <% end %>
</div>

<div id="chatmessages" class="panel panel-default">
  (chat messages here) <br>
  <br>
  <br>
  <br>
</div>

<form id="chatform" >
  <div class="input-group">
    <input id="chattext" type="text" class="form-control"/>
    <span class="input-group-btn"> <button type="submit" class="btn btn-default"> Send </button> </span>
  </div>
</form>

<div id="progress">
  <div class="bar" style="height: 18px; background: green; width: 0%;"></div>
</div>

<input id="fileupload" type="file" name="file" class="filestyle" />

<div id="filecontext">&nbsp;</div>

<%= audio_tag("Click03.mp3", id: 'clicksound', autoplay: true, controls: false) %>

<script>

 // The chat manager that we retrieve from our parent window.

 var chatManager;

 //
 // This is the submit function for our chat
 //

 $("#chatform").submit(function() {

   msg = $("#chattext").val();
   $("#chattext").val("");

   if (chatManager) {
     chatManager.sendMessage(msg);
     $("#chatmessages").html(chatManager.getHtmlMessages());
   }

   return false;
 })

 // On page load, we update the current state of the messages, and
 // then register a listener for updates.

 function documentReady() {
   window.opener.console.log(["documentReady"]);

   // Find the chat manager for this friend in my parent window
   chatManager = window.opener.findChatManager("<%= @friend.rtcc_uid %>");
   window.opener.console.log(["documentReady", "<%= @friend.rtcc_uid %>", chatManager]);

   // Insert the current state of the chat messages
   $("#chatmessages").html(chatManager.getHtmlMessages());

   // Register our update function on the chatManager
   chatManager.onUpdate = function(is_received) {

     // if the window has closed in the meantime, do not update
     if (window) {
       window.opener.console.log(["onUpdate", window, window.closed]);
       if (is_received == true) {
         $("#clicksound")[0].play();
       }
       $("#chatmessages").html(chatManager.getHtmlMessages());
     }

   }


 }

// This implements the file-sharing facility by using a pre-signed POST to Amazon S3 from the Browser.
// jQuery-ui fileupload is used to handle the AJAX upload, and the bootstrap add-on 'filestyle' is used for styling.
// Upon completiong of the upload, we send the Location URL to the chat participant.

$(function() {
   console.log(['here1']);

   var progressBar = $("#progress .bar");
   
   $('#fileupload').fileupload({
     context: $("filecontext"),

     start: function(e) {
       progressBar.css('width', "20%");
     },

     add: function (e, data) {
       console.log(['add', data]);
       data.context=$("#filecontext").text("Uploading ...");
       $.ajax({
         type: "POST",
         url: "/cloudrecorder/presigned",
         cache: false,
         dataType: "JSON"
       }).success(function(d) {
         console.log(["presigned", d]);
         data.dataType = "XML";
         data.url = d["puturl"];
         data.formData = d["formdata"];
         data.submit();
       }).error(function(e) {
         console.log(["error", e]);
       });
     },

     done: function (e, data) {
       console.log(["done", data]);
       console.log(["done", $(data.jqXHR.responseXML).find("Key").text()]);
       console.log(["done", $(data.jqXHR.responseXML).find("Location").text()]);

       var location = $(data.jqXHR.responseXML).find("Location").text();
       var anchor = '<a href="' + location + '">' + location + '</a>';

       chatManager.sendMessage(anchor);
       progressBar.css('width', "0%");
       data.context.text("Upload finished.");
     },

     fail: function(e, data) {
       console.log(["fail"]);
       progressBar.css('width', "100%").css('background', "red")
     },

     progressall: function(e, data) {
       console.log(['progress', data.loaded]);
       var progress = parseInt(data.loaded / data.total * 100, 10);
       progressBar.css('width', progress + '%');
     }
   });
 });

$(document).ready(documentReady);

</script>

